body {
    background-color: #3399ff; 
    color: #ffffff; 
    font-size: 21px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 41px;
    color: #f5f5f0;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 0px;
}

h2  {
    color: #f5f5f0;
    margin-top: 0px;
}

/* Това е коментар в нашия стилов файл */

p {
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 25px;
    
}


a:link {
    color:black;
    text-decoration: none;
}

a:hover, 
a:focus {

    color: yellow;
    
}


/*a:visited {

    color:blueviolet;


}
a:hover {
    
    color:aqua;
    font-size: 40px;
    font-family: sans-serif;
    
} 

a:active {

    color: blue;
}*/